* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 0 0 3px red inset; */
}

::-webkit-scrollbar {
  /* width: 7px; Largeur de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(30, 30, 42);
  border-radius: 6px;
}

body {
  background-color: rgb(37, 37, 37);
}

a {
  text-decoration: none;
}

.principal {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 17vh;
}

.container {
  width: 450px;
  height: 30rem;
  background-color: rgb(254,86,1);
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.718);
  border: #15d1df 1px solid;
  /* display: flex;
      justify-content: center; */
}

.return {
  height: 30px;
  width: 60px;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.472);
  position: absolute;
  margin-top: 1.5%;
  margin-left: 2%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return img {
  height: 20px;
  width: 28px;
}

.return a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
  width: 100%;
}

form p {
  text-align: center;
  padding-right: 10px;
  font-size: 30px;
  margin-top: 10%;
  color: white;
}

.form-nom {
  margin: auto;
  margin-top: 3%;
}

.form-prenom {
  margin: auto;
  margin-top: 3%;
}

.form-email {
  margin: auto;
  margin-top: 3%;
}

.form-sexe {
  width: 160px;
  margin: auto;
  margin-top: 3%;
}

.desc {
  font-weight: bold;
  font-size: 13px;
  color: white;
}

.desc-confir {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  color: white;
}

.form-password {
  margin: auto;
  margin-top: 3%;
}
.form-nom,
.form-prenom,
.form-email,
.form-password {
  width: 170px;
  /* margin-left: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#nom,
#prenom,
#sexe,
#email,
#password,
#password2 {
  width: 100%;
  height: 42px;
  border-radius: 25px;
  border: #15d1df solid 2px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.247);
  margin-top: 2%;
}

.conn {
  width: 163px;
  height: 46px;
  background-color: #15d1df;
  border-radius: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 3%;
  color: white;
  font-size: 16px;
}


.conn:hover {
  border: white 2px solid;
  color: black;
  font-weight: bold;
  border: white solid 2px;
}

.ins {
  font-size: 12px;
  margin-top: 3%;
  width: 80%;
  margin-left: 13%;
}

.ins a {
  text-decoration: none;
  font-weight: bold;
  color: #15d1df;
}

.ins a:hover {
  font-size: 14px;
}

/* Media query pour les écrans de petite taille (par exemple, mobile) */
@media only screen and (max-width: 768px) {
  .container {
    height: auto;
  }
}
